{
  "extends": "@antfu",
  "rules": {
    "space-before-function-paren": "off",
    "arrow-parens": "off",
    "curly": "off",
    "vue/singleline-html-element-content-newline": "off",
    "brace-style": "off"
  }
}
